x.A {
    color: rgb(30, 0, 255);

}

.B {
    border: solid;
    border-color: blanchedalmond;
}

.Abuneol {
    width: 10em;
    height: 5ex;
    background-image: linear-gradient(rgb(187, 53, 53) rgb(71, 64, 208));
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: rgb(18, 12, 16);
    cursor: pointer;
}

.Abuneol:active {
    box-shadow: 5px 5px 5px rgb(31, 2, 2);
}

#C {
    color:red
}